@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .bg-grid-pattern {
        background-size: 40px 40px;
        background-image: radial-gradient(circle, #e0e7ff 1px, transparent 1px);
    }
}